body {
    background-color: black;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#title h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 85px;
}
#search-row {
    margin-top: 20vh;
    font-family: 'Electrolize', sans-serif;
}